@import "../styles/vars";

a.button, label.button {
    display: inline-block;
    padding: 6px 15px;
    background-color: $primary-green;
    color: white;
    border-radius: $br;
    min-width: 120px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;

    &:hover {
        background-color: $hover-green;
    }

    &:hover, &:visited {
        text-decoration: none;
        color: white;
    }

    &.cancel {
        background-color: white;
        color: black;
        border: 1px solid #8c959f;

        &:hover {
            background-color: #fcfcfc;
        }

    }

    &.disabled {
        cursor: no-drop;
        background-color: #cccccc;
        border-color: #cccccc;
        color: white;

        &:hover {
            background-color: #cccccc;
            color: white;
        }
    }

}

