@import "../styles/vars.scss";

div.page-container {
    display: flex;
    background-color: white;

    div.page {
        width: $width-app;
        padding: $padding-app;
        margin: 0 auto;
        display: flex;
    }
}

