@import "../styles/vars.scss";

div.sub-header-container {
    display: flex;
    background-color: $tertiary-grey;
    padding: $padding-app;

    div.sub-header {
        width: $width-app;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
}

