@import "../styles/vars.scss";
@import "../styles/responsive";

div.sub-header-container {
    @extend .component-container;
    background-color: $tertiary-grey;

    &.child {
        padding-top: 0;
    }
    div.sub-header {
        @extend .inner-component;
        flex-direction: column;
    }
}

