@import "../styles/vars.scss";

span.tool-tip-section {
    font-size: 12px;
    color: $primary-grey;
    cursor: pointer;
    padding: 0 4px;

    img {
        width: 18px;
    }

    .tippy-box {
        background-color: $hover-blue;
        color: $background;
        border-radius: 6px;
        font-size: 16px;
        text-align: center;
        line-height: 1.4;
        white-space: normal;
        outline: 0;
        transition-property: transform, visibility, opacity
    }

    .tippy-arrow {
        width: 16px;
        height: 16px;
        color: $hover-blue;
    }

}



