body {
  font-family: "Roboto", Sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $dark-grey;
  -webkit-font-smoothing: antialiased;
  background-color: $background;
}

*, *:before, *:after {
  box-sizing: border-box;
}

::-webkit-input-placeholder {
  color: $lighter-blue;
  font-weight: bold;
}

::-moz-placeholder {
  color: $lighter-blue;
  font-weight: bold;
  opacity: 1;
}