@import "../styles/vars.scss";
@import "../styles/responsive";

div.flash-container {
    bottom: 15px;
    right: 15px;
    position: fixed;
    z-index: 9;
    padding: 10px 16px;
    border-radius: 6px;
    max-width: 400px;
    opacity: .97;
    display: flex;

    &.hide {
        opacity: 0;
    }


    &.info {
        background-color: #B8E3C9;
    }

    &.warning {
        background-color: $primary-orange;
    }

    &.error {
        background-color: $primary-red;
    }


    p {
        color: black;
        margin: 0 0 0 15px;
    }
}
