// Colors
$blue: #4DB2CF;
$light-blue: #BFF1FF;
$red: #B62222;
$green: #519B00;
$orange: #ec9a0a;
$light-grey: #EFEFEE;
$lighter-grey: #d9d9d8;
$medium-grey: #a1b3bc;
$dark-grey: #565656;

// borders
$border: rgba(black,.1);
$border-light: rgba(white, .2);

// Sizes
$br: 3px;

// Screen
$medium: 1080px;
