// Colors
$blue: #52b2cd;
$light-blue: #a8d9e6;
$darker-blue: #4da7c0;
$red: #B62222;
$green: #36ca35;
$orange: #ec9a0a;
$background: #f9f9f9;
$light-grey: #eff2f3;
$lighter-grey: #d9d9d8;
$medium-grey: #90a4ae;
$dark-grey: #565656;

// borders
$border: rgba(black,.1);
$border-light: rgba(white, .2);

// Sizes
$br: 3px;

// Screen
$medium: 1080px;
