@import "../styles/vars.scss";

div.join-request {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 20px;

    @media (max-width: $width-app) {
        width: 100%;
        padding: 0 10px 10px 10px;
    }

    .wmde-markdown {
        background-color: $background;
        cursor: not-allowed;
        width: 100%;
        border: 1px solid $quaternary-grey;
        padding: 6px 12px;
        border-radius: 8px;
        font-size: 16px;
        height: 48px;
    }

    .inner-email-field {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        border: 1px solid $quaternary-grey;
        border-radius: $br;
        font-size: 16px;
        padding-bottom: 5px;

        div.email-tag {
            border: 1px solid $tertiary-grey;
            border-radius: $br;
            margin: 5px 5px 0 5px;
            display: inline-block;
            position: relative;
            background-color: $background;
            padding: 4px 26px 4px 10px;
            max-height: 32px;

            span.value {
                word-break: break-all;
            }

            span.disabled {
                padding: 8px 14px;
                cursor: not-allowed;
                color: $primary-green;
                position: absolute;
                right: -8px;
                top: -5px;

                svg {
                    width: 12px;
                }
            }
        }
    }

}
