@import "../styles/vars.scss";

div.my-teams-container {
    table {
        width: 100%;
        table-layout: fixed;
    }

    th {
        border: solid;
        border-top: none;
        border-width: 2px 0;
        border-color: $primary-black;
        padding: 10px;

        &.title {
            width: 30%;
        }

        &.members {
            width: 15%;
        }

        &.private {
            width: 20%;
        }

        &.member {
            width: 25%;
        }

        &.bin {
            width: 10%;
        }
    }

    tr {
        border: solid;
        border-color: $primary-grey;
        border-width: 1px 0;

        &:first-child {
            border-top: none;
        }

        &:last-child {
            border-bottom: none;
        }
    }


    td {
        padding: 10px;

        &:last-child {
            text-align: right;
        }

        &:first-child {
            min-width: 10vw;
        }

    }

    img {
        width: 20px;
        vertical-align: middle;
    }

    img.binIcon:hover {
        filter: invert(28%) sepia(48%) saturate(2196%) hue-rotate(323deg) brightness(97%) contrast(94%);
    }

    span.private-label {
        border: 1px solid $primary-black;
        border-radius: 25px;
        min-height: 20px;
        padding: 6px 8px;
        img {
            margin-right: 5px;
        }
    }

}