@import "../styles/vars.scss";

div.new-team {
    display: flex;
    flex-direction: column;
    width: 50%;

    @media (max-width: $mobile) {
        width: 100%;
        padding: 0 10px 10px 10px;
    }

    .action-menu-container {
        margin-left: auto;
    }
}
