@import "../styles/vars.scss";

div.team-actions {
    display: flex;
    width: 50%;

    @media (max-width: $width-app) {
        width: 100%;
    }

    .button-container {
        margin-left: auto;
    }
}

div.team-details {


}