.join-request {

  @include page;

  h2 {
    margin: 35px 0 20px 0;
    font-size: 22px;
  }

  .card {
    @include card;
    @import "../excludes/forms.scss";

    padding: 50px 25px 25px;

    p.error {
      width: 100%;
      color: $red;
      font-size: larger;
    }

    section.form-divider {
      margin-bottom: 25px;

    }

    section.screen-divider {
      display: inline-block;
      width: 50%;
      margin-bottom: 0;

      @include phone {
        width: 100%;
      }
    }

    section.team {
      input {
        margin-bottom: 20px;
      }

    }
    section.admins {
      input:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }

}
