.new-team {

  @include page;

  h2 {
    margin: 35px 0 20px 0;
    font-size: 22px;
  }

  .card {
    @include card;
    @import "../excludes/forms.scss";
    padding: 25px;

    section.form-divider {
      border-bottom: 1px solid $lighter-grey;
      padding-bottom: 25px;
      margin-bottom: 25px;
    }

    .validity-input-wrapper {

      i {
        &.fa-check {
          color: $green;
        }

        &.fa-exclamation {
          color: $red;
        }

        &.fa-search {
          color: $blue;
        }
      }
    }

    div.admin-owner-select {
      display: flex;
      width: 100%;
      align-items: center;

      div.select-role {
        width: 100%;
      }

      p.current-user-name {
        padding: 8px 10px 8px 15px;
        margin-top: 4px;
        margin-left: 10px;
        background-color: $light-grey;
        width: 100%;

        &.deletable {
          position: relative;

          i.fa-times {
            position: absolute;
            color: $red;
            right: 5px;
            top: 0;
            font-size: 22px;
            cursor: pointer;
          }
        }
      }

    }

    .react-mde {
      margin-top: 5px;
    }

    label.invitation-message, label.invitation-language {
      margin-top: 20px;
    }

    label.email-input-label {
      display: none;
    }

  }

}
