.mod-not-found, .mod-server-error {

  @include page;

  .card {
    @include card;
    padding-bottom: 15px;
  }

  padding: 50px;
  text-align: center;
  margin-top: 25px;
  background-color: white;
  box-shadow: 1px 4px 12px 1px $medium-grey;
  border-radius: $br;

  h1 {
    font-size: 200%;
    margin-bottom: 50px;
    line-height: 32px;
  }

  h3 {
      font-size: 125%;
      margin-bottom: 25px;
      line-height: 26px;
      &.not-provided {
        margin-bottom: 5px;
      }
  }
  ul.missing_attributes {
    list-style: circle;
  }
}
