// Colors
$primary-blue: #0077C8;
$light-blue: #B3E5FF;
$hover-blue: #003980;
$primary-green: #008939;
$hover-green: #006731;
$primary-black: #202020;
$primary-red: #DA362D;
$primary-orange: #FFC100;
$surf-yellow: #FEF8D3;

$primary-grey: #d0d0d0;
$secondary-grey: #8e8e8e;
$tertiary-grey: #e9ecef;
$quaternary-grey: #8C969F;
$quinary-grey: #B2B6BE;

$inactive-grey: #5E6873;

$background: #f3f6f8;

$br: 6px;

$width-app: 1086px;
$padding-app: 15px;
$mobile: 768px;
