div.date_picker_custom {

  width: 180px;
  display: flex;
  border: 1px solid $lighter-grey;
  border-radius: $br;
  margin-top: 5px;
  cursor: pointer;

  a {
    font-size: 14px;
    padding: 7px;
    color: inherit;
    text-decoration: none;
    flex-grow: 5;
    &:hover, &:visited {
      text-decoration: none
    }
  }

  span {
    padding: 0 12px;
    text-align: center;
    display: flex;
    align-items: center;
    background-color: $light-grey;
    font-size: larger;
    &.clear {
      border-right: 1px solid $lighter-grey;
    }
  }


}