div.flash {
  color: white;

  transition: 0.3s;
  opacity: 1;
  visibility: visible;
  height: auto;

  &.hide {
    transition: 1.3s;
    opacity: 0;
    visibility: hidden;
    height: 0;
  }

  &.info {
    background-color: darken($green, 15%);
  }
  &.warning {
    background-color: $orange;
  }
  &.error {
    background-color: $red;
  }

  .message-container {
    @include page;
    position: relative;

    p {
      padding: 10px 25px 10px 15px;
      text-transform: uppercase;
      font-weight: bold;
    }
    a.close {
      text-decoration: none;
      position: absolute;
      right: 10px;
      top: -5px;
      color: white;
      font-size: larger;
      padding: 6px;
    }
  }



}
