div.flash {
  text-align: center;
  color: white;
  font-size: large;
  position: relative;

  &.error {
    background-color: $red;
  }

  a {
    text-decoration: none;
    position: absolute;
    right: 0;
    top: 6px;
    color: white;
    font-size: x-large;
    padding: 6px;
  }

  p {
    padding: 20px;

    &.info {
      background-color: darken($green, 15%);
    }
  }

}
