div.flash {
  text-align: center;
  color: white;
  font-size: large;
  position: relative;


  a.close {
    text-decoration: none;
    position: absolute;
    right: 0;
    top: 0;
    color: white;
    font-size: xx-large;
    padding: 6px;
  }

  p {
    padding: 20px;

    &.info {
      background-color: darken($green, 15%);
    }
    &.warning {
      background-color: $orange;
    }
    &.error {
      background-color: $red;
    }
  }

}
