.institution_teams {

  section.card-institution-teams {
    @include card;
    padding: 15px;
  }

  section.options-institution-teams {

    section.search-institution-teams {
      display: flex;
      position: relative;
      margin: 10px 0 25px 0;

      @include phone {
        flex-direction: column;
      }

      section.sort-drop-down {
        margin-top: 0;
        margin-left: auto;

        @include phone {
          margin-left: 0;
        }
      }

      input {
        padding: 10px;
        border: 2px solid $light-grey;
        border-radius: 2px;
        font-size: medium;
        width: 100%;
        height: 100%;
        @include desktop {
          width: 50%;
          margin-left: 10px;
        }
      }

      i.fa-search {
        color: lighten($blue, 5);
        position: absolute;
        right: 10px;
        top: 6px;
        font-size: 24px;

        @include phone {
          display: none;
        }

      }
      .help {
        display: flex;
        align-items: center;
        margin-right: 10px;
        cursor: pointer;

        @include phone {
          flex-direction: column;
        }

        i {
          color: lighten($blue, 5);
          font-size: 30px;
          margin-right: 5px;

          @include phone {
            margin-right: 0;
          }
        }

        span {
          color: $blue;
          font-weight: bold;
        }

      }
    }

  }

  table.institution_teams {
    width: 100%;
    word-break: break-all;
    tr {
      border-bottom: 1px solid $light-grey;
    }
    tr.linked-institutional-team + tr:not(.linked-institutional-team) {
      border-top: 3px solid $light-blue;
    }

    thead {
      th.name {
        width: 45%;
      }
      th.description {
        width: 40%;
      }
      th.linked_teams, th.linked {
        width: 15%;
        text-align: right;
      }
      span {
        position: relative;
        display: inline-block;
        width: 100%;
        text-transform: uppercase;
        font-weight: bold;
        font-size: larger;
        color: $medium-grey;
        padding: 7px 2px 7px 0;

        &.sorted {
          color: $blue;
        }
      }
    }
    tbody {
      td {
        padding: 10px 0;
        word-wrap: break-word;
      }
      td.name {
        span {
          &.name {
            color: black;
            i {
              margin-right: 15px;
              color: $medium-grey;
            }
          }
          &.identifier {
            display: block;
            margin-left: 26px;
            font-style: italic;
            position: relative;

            @include copy-icon-pulse;

            a.identifier-copy-link {
              position: absolute;
              right: 25px;
              top: -10px;
              display: inline-block;
              cursor: pointer;
              @include phone {
                margin-left: 15px;
                position: initial;
              }
              i {
                color: $blue;
              }
            }
            div.__react_component_tooltip {
              font-style: normal;
            }
          }

        }

      }
      td.description {
      }
      td.linked-teams {
        text-align: right;

        .linked-teams-container {
          display: flex;
          flex-direction: column;
        }
        a.linked-team {
          border: 1px solid $lighter-grey;
          border-radius: $br;
          margin: 0 10px 10px 0;
          padding: 8px 15px;
          color: $dark-grey;
          background-color: $hover;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          max-width: 250px;

          @include no-text-decoration;

          @include phone {
            &:first-child {
              margin-left: auto;
            }
          }

          i {
            margin-right: 10px;
            color: $medium-grey;
            display: inline;
            float: left;
          }
        }
      }
      td.team-linked {
        text-align: right;
      }
    }
    @include phone {
      thead {
        display: none;
      }
      tbody {
        tr {
          margin-bottom: 10px;
          display: block;
          border-bottom: 2px solid $lighter-grey;
        }
        td {
          display: block;
          text-align: right;
          min-height: 40px;
          border-bottom: 1px dotted $light-blue;
          padding: 8px 0;
          &.name {
            span.name {
              i {
                padding-top: 0;
              }
            }
          }

          &:before {
            content: attr(data-label);
            float: left;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 14px;
            color: $medium-grey;
          }

        }

      }
    }

  }
}
