section.sort-drop-down {

  position: relative;
  border: 1px solid $lighter-grey;
  border-radius: $br;
  padding: 10px;
  margin-right: auto;
  min-width: 200px;

  .sort-name {
    text-transform: uppercase;
    color: $blue;
    margin: 0 15px;
    cursor: pointer;
  }

  i {
    cursor: pointer;
    color: $blue;
  }

  ul.drop-down {
    position: absolute;
    z-index: 99;
    top: 40px;
    right: -20px;
    padding: 10px 15px;
    background-color: white;
    box-shadow: 1px 4px 12px 1px $medium-grey;
    border-radius: $br;

    li {
      cursor: pointer;
      text-transform: uppercase;

      &.current {
        color: $blue;
      }
      span {
        display: inline-block;

        &:first-child {
          padding: 2px;
        }

        &:last-child {
          float: right;
          margin-left: 20px;
        }
      }

    }
  }
}
