.team-attributes {

  @include card;
  padding: 15px;

  .team-attribute, .inline-editable {
    label {
      display: block;
      color: $medium-grey;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: bold;
      margin: 10px 0 5px;

      &.info-after {
        margin-bottom: 0;
      }
    }
    em {
      font-size: 11px;
    }

    span {
      display: block;
      border-bottom: 1px solid $lighter-grey;
      border-top-left-radius: $br;
      border-top-right-radius: $br;
      padding: 5px 0 5px 10px;
      word-wrap: break-word;
      overflow-wrap: break-word;

      i {
        color: $blue;
        margin-right: 20px;
        font-size: larger;
        cursor: pointer;
        float: right;

        &.fa-pencil {
          text-decoration: underline;
        }
      }

    }

  }

  .team-attribute {
    @include copy-icon-pulse;
  }

  .inline-editable {
    span {
      background-color: $light-blue;
      min-height: 28px;
    }

    input[type=text] {
      display: block;
      width: 100%;
      padding: 5px 0 5px 10px;
      font-size: 14px;
      background-color: $light-grey;
    }

  }
}
