.team-description {

  div.actions {
    display: flex;

    a.button {
      margin-left: auto;
    }
  }

  .mde-textarea-wrapper {
    textarea {
      height: 60px;
    }
  }

  .mde-preview {
    height: 60px ;
    max-height: 60px ;
    min-height: 60px ;
  }

}
