section.teams-autocomplete {

  position: absolute;
  z-index: 3;
  top: 45px;
  width: 100%;
  border-radius: $br;
  background-color: white;
  box-shadow: 1px 4px 12px 1px $medium-grey;
  margin-bottom: 25px;

  div.no-results {
    padding: 10px 15px;
    font-style: italic;
  }

  table.result {
    width: 100%;
    word-break: break-all;

    thead th {
      color: $medium-grey;
      font-size: larger;
      font-weight: bold;
      text-transform: uppercase;
      padding: 10px;

      @include phone {
        padding: 10px 5px;
      }

      &.name {
        width: 22%;
      }
      &.description {
        width: 42%;
      }
      &.role {
        width: 36%;
      }

    }
    tbody tr {
      border-top: 1px solid $light-grey;
      cursor: pointer;

      &.active, &:hover {
        background-color: $light-grey;
        td.role {
          span {
            background-color: $blue;
            color: white;
            z-index: 2;
            &.join {
              background-color: $green;
            }
          }
        }
      }
      td {
        padding: 5px 10px;
        vertical-align: middle;
        &.role {
          padding: 10px;
          text-align: right;

          span {
            border: 1px solid $light-grey;
            padding: 5px 15px;
            display: inline-block;
            min-width: 95px;
            text-align: center;
            &.join {
              background-color: $light-grey;
            }

          }
        }
      }

      span {
        i.fa-info-circle {
          color: $blue;
          padding: 3px;
        }
        &.matched {
          font-weight: bold;
          text-decoration: underline;
        }
      }

      div.tool-tip {
        @include tool-tip;
      }

    }
  }
}
