.team-attributes {

  @include card;
  padding: 15px;

  .team-attribute, .inline-editable {
    label.title {
      display: block;
      color: $medium-grey;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: bold;
      margin: 10px 0 5px;

      &.info-after {
        margin-bottom: 0;
      }
    }

    em {
      font-size: 11px;
      margin-left: 8px;
    }

    span.attribute {
      display: block;
      border-bottom: 1px solid $lighter-grey;
      border-top-left-radius: $br;
      border-top-right-radius: $br;
      padding: 5px 25px 5px 10px;
      word-wrap: break-word;
      overflow-wrap: break-word;
      position: relative;

      &.disabled {
        color: $lighter-grey;
      }

      i {
        color: $blue;
        font-size: larger;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 8px;

        &.fa-pencil {
          text-decoration: underline;
        }
      }

    }

  }

  .team-attribute {
    @include copy-icon-pulse;
  }

  .inline-editable {
    span {
      min-height: 28px;
      padding: 5px 25px 5px 10px;

      &.edit-editable {
        background-color: $light-blue;
      }
    }

    input[type=text], input[type=email] {
      display: block;
      width: 100%;
      padding: 5px 25px 5px 10px;
      font-size: 14px;
      background-color: $light-grey;
    }

  }

  .checkbox {
    em {
      font-size: 11px;
      margin-left: 8px;
    }
  }

}
