@import "../styles/vars.scss";

div.join-request {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 20px;

    @media (max-width: $width-app) {
        width: 100%;
        padding: 0 10px 10px 10px;
    }

    .wmde-markdown {
        background-color: $background;
        cursor: not-allowed;
        width: 100%;
        border: 1px solid $quaternary-grey;
        padding: 6px 12px;
        border-radius: 8px;
        font-size: 16px;
        height: 48px;
    }


}
