@import "../styles/vars.scss";

div.team-actions {
    display: flex;
    position: relative;

    @media (max-width: $width-app) {
        flex-direction: column;
    }

    .wmde-markdown {
        background: transparent;
    }

    p.pre-line {
        white-space: pre-line;
    }

    div.team-access-bar {
        display: flex;
        margin: 20px 0 20px 0;
        align-items: center;

        @media (max-width: $width-app) {
            flex-direction: column;
        }

        .private-label {
            margin-right: 10px;
            height: auto;
            padding: 6px 12px;
            @media (max-width: $width-app) {
                margin-right: 0;
                margin-bottom: 10px;
            }
        }

        div.urn-container {
            border: solid $quaternary-grey 1px;
            border-radius: 5px;
            display: flex;
            align-content: center;
            align-items: center;

            label {
                padding: 1px 4px;
                font-size: 12px;
                color: $inactive-grey;
                border-right: solid $quaternary-grey 1px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                @media (max-width: $width-app) {
                    max-width: 100%;
                }

            }

            span {
                display: flex;
                padding: 4px 5px;
                border-radius: 0 5px 5px 0;
                
                svg {
                    margin: auto;
                }

                &:hover {
                    background-color: $light-blue;
                    cursor: pointer;

                    svg {
                        fill: white;
                    }
                }

                &:active {
                    background-color: $primary-blue;
                }

            }

            svg {
                width: 13px;
                vertical-align: middle;
                margin-bottom: 2px;
                fill: $inactive-grey;

            }

        }
    }

}

div.alert-banner-wrapper {
    display: flex;
    background-color: $surf-yellow;
    align-items: center;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    padding: 10px;

    div.alert-banner-container {
        width: $width-app;
        margin: 0 auto;
        padding: 0 15px;
        display: flex;
        align-items: center;

        span.alert-banner {
            font-weight: bold;
        }

        a.button.cancel {
            margin-left: 30px;
            padding: 6px 24px;
        }

    }
}

div.team-members {
    h2 {
        margin: 20px 0 20px 0;
    }

    .team-actions-bar {
        display: flex;
        flex-direction: row;
        margin-top: 5px;
        margin-bottom: 30px;

        @media (max-width: $width-app) {
            flex-direction: column;
        }

        .action-button-wrapper {
            margin-left: auto;

            @media (max-width: $width-app) {
                margin-left: 0;
            }

            a {
                height: 44px;
                padding-top: 12px;
            }

            a.cancel {
                margin-right: 25px;
            }
        }

        .filter-dropdown-span {
            margin-right: 25px;
            height: 50px;
            width: 200px;
        }

        .search-bar {
            height: 44px;
            width: 250px;
            margin-right: 15px;
        }

        span.hide-invitees-wrapper {
            display: flex;
            padding: 15px;
            column-gap: 10px;
            vertical-align: middle;

            @media (max-width: $width-app) {
                padding-left: 0;
            }

        }
    }

    .sortable-table {
        width: 100%;
        table-layout: fixed;

        th {
            &.name {
                width: 25%;
            }

            &.idp {
                width: 5%;
            }

            &.email {
                width: 30%;
            }

            &.role {
                width: 15%;
            }

            &.joined {
                width: 30%;
            }

            &.bin {
                width: 5%;
            }
        }

        tr {
            height: 63px;

            td {
                &.roles-entry {
                    .dropdown-menu-container {
                        .dropdown-control {
                            padding-left: 0;
                            color: $primary-blue;
                            border: none;

                            svg {
                                margin-left: 10px;
                                fill: $primary-blue;
                            }
                        ;
                        }
                    }
                }

                &.me {
                    font-weight: bold;
                }

                &.joined-entry {
                    .joined-wrapper {
                        display: flex;
                        align-content: center;

                        span.details {
                            margin-left: 5px;
                        }

                        svg {
                            margin-left: 10px;
                            width: 20px;
                            vertical-align: middle;
                        }
                    }
                }

            }
        }
    }

    span.idp {
        cursor: pointer;

        svg {
            width: 20px;
        }
    }

    span.bin-icon svg {
        width: 20px;
        cursor: pointer;

        &:hover {
            color: $primary-red;
        }
    }
}