@import "../styles/vars";

.action-menu-container {
    margin-left: auto;
    position: relative;

    .unit-menu {
        display: flex;
        align-items: center;
        padding: 16px 21px;
        border: 1px solid $primary-grey;
        color: black;
        font-weight: bold;
        background-color: white;
        border-radius: 4px;
        cursor: pointer;
        width: 190px;

        svg {
            margin: 0 auto;
            width: 22px;
        }
    }

    .action-menu {
        position: absolute;
        display: block;
        top: 58px;
        right: 0;
        width: 190px;
        z-index: 99;
        background: white;
        border: 1px solid $primary-grey;
        border-radius: 4px;

        &:focus {
            outline: none;
        }

        li {
            display: flex;
            align-items: center;
            cursor: pointer;

            span {
                padding: 15px 15px 15px 15px;
                color: black;
                text-decoration: none;
                width: 100%;
            }

            svg {
                color: $tertiary-grey;
                display: inline-block;
                margin: 2px 1px 2px 10px;
                width: 24px;
                height: auto;

            }

            &:hover, &.active {
                background-color: $background;

            }

            &:not(:first-child) {
                border-top: 0.5px solid $primary-grey;
            }

        }

    }


}


