@import "../styles/vars.scss";

div.add-members-form-container {
    display: flex;
    flex-direction: column;

    width: 50%;

    @media (max-width: $width-app) {
        width: 100%;
        padding: 0 10px 10px 10px;
    }


    label.header {
        margin: 40px 0 15px 0;
        font-size: 18px;
        line-height: 26px;
        font-weight: 600;
        font-family: Nunito, sans-serif;
        display: block;
    }

    div.add-emails-wrapper {
        display: flex;
        flex-direction: column;

        span {
            display: flex;
            flex-basis: 100%;

            .input-field {
                width: 400px;
            }

            a {
                width: 60px;
                height: 48px;
                margin-left: 15px;
            }
        }

    }


    div.extra-info-wrapper {

        small {
            margin: 45px 0 20px auto;
            color: $quaternary-grey;
        }
    }

    .custom-message-input {
        padding: $padding-app;
        width: 100%;
        height: 140px;
        resize: both;
        border: solid $quaternary-grey 1px;
        border-radius: 6px;
        background-color: white;

        &:focus {
            outline: none;
            border: solid $quaternary-grey 1px;
            box-shadow: none;
        }
    }


    .language-selection-wrapper {
        div.language-selection-buttons {
            display: flex;
            max-width: 180px;
            justify-content: space-between;
        }

        input {
            margin-right: 10px;
        }
    }

    .submit-button-wrapper {
        display: flex;
        justify-content: right;
        column-gap: 15px;
        margin-top: 40px;
    }
}
