@import "../styles/vars.scss";

div.bread-crumb {
    display: flex;
    background-color: transparent;
    align-content: center;
    word-break: keep-all;

    div.path {
        display: flex;
        align-content: center;
        a {
            color: #5E6873;
        }
        img {
            width: 14px;
            color: $inactive-grey;
            display: inline-block;
            margin: 0 8px;
        }
        span {
            color: #5E6873;
            font-weight: bold;
            line-height: 22px;
        }
    }

}

