@import "../styles/vars";

a.button, label.button {
    display: inline-block;
    padding: 13px 24px;
    background-color: $primary-green;
    color: white;
    border-radius: $br;
    min-width: 140px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;

    &:hover {
        background-color: §§§
    }

    &:hover, &:visited {
        text-decoration: none;
        color: white;
    }

    &.cancel {
        background-color: white;
        color: $inactive-grey;
        border: 1px solid $inactive-grey;

        &:hover {
            background-color: #fcfcfc;
        }

    }

    &.delete {
        background-color: $primary-red;
        color: white;
        min-width: 50px;
        width: 50px;
        display: flex;
        padding: 0;

        &:hover {
            background-color: #BE1817;
        }
        svg {
            width: 24px;
            height: auto;
            margin: auto;
        }
    }

    &.disabled {
        cursor: no-drop;
        background-color: #F4F6F8;
        border-color: #B2B6BE;
        color: #B2B6BE;
    }

}

