@import "../styles/vars";

div.email-field {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 20px;

    &.no-margin-top {
        margin-top: 0;
    }

    label {
        display: inline-block;
        margin: 12px 0 6px 0;
        min-width: 210px;
        color: black;
        position: relative;
        font-weight: bold;
    }

    textarea.email-field-textarea {

        &:focus, &:focus-visible {
            outline: none;
            border: none;
            box-shadow: none;
        }

    }

    .inner-email-field {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        border: 1px solid $quaternary-grey;
        border-radius: $br;
        font-size: 16px;

        &.focus {
            box-shadow: 0 0 0 3px #b3e5ff;
            border: solid 1px #8c969f;
            background-color: #fff;
        }

        &.error {
            background-color: $primary-red;
            border: 1px solid $primary-red;
        }

        &.disabled {
            padding-bottom: 5px;
        }

    }

    textarea, input {
        border: none;
        flex-grow: 2;
        display: inline-block;
        background-color: transparent;
        font-size: 16px;
        margin: 14px 5px 5px 5px;
        padding-right: 4px;

        &:focus {
            border: none;
            outline: none;
        }
    }

    input {
        margin: 11px 6px;
        padding-right: 2px;
    }

    div.email-tag {
        border: none;
        border-radius: 100px;
        margin: 5px 5px 0 5px;
        display: flex;
        align-items: center;
        position: relative;
        background-color: #dbf1e5;
        padding: 4px 32px 4px 12px;
        max-height: 32px;

        span.value {
            word-break: break-all;
        }

        span.action {
            padding: 8px 14px;
            cursor: pointer;
            color: $inactive-grey;
            position: absolute;
            right: -3px;
            top: 0;

            svg {
                width: 8px;
                height: auto;
            }

            &:hover {
                color: $primary-red;
            }

            &.disabled {
                cursor: not-allowed;
                top: -3px;
                color: $primary-green;

                svg {
                    width: 12px;
                }
            }

        }
    }

    span.error {
        color: $primary-red;
        margin-top: 10px;
    }

}