@import "../styles/vars.scss";
@import "../styles/responsive";

nav.footer-container {
    @extend .component-container;
    background-color: $tertiary-grey;
    margin-top: auto;

    div.footer {
        @extend .inner-component;
        justify-content: space-between;
        align-items: center;

        ul.info {
            display: flex;
            flex-direction: column;

            li {
                &:not(&:last-child) {
                    margin-bottom: 6px;
                }
            }

            &.right {
                img {
                    margin-left: auto;
                    max-width: 82px;
                }
            }
        }

        nav.lang ul {
            display: flex;
            flex-direction: row;

            li {
                &:first-child {
                    border-right: 1px solid black;
                    padding-right: 10px;
                }

                &:last-child {
                    padding-left: 10px;
                }

                &:not(&:last-child) {
                    border-right: 1px solid black;
                    padding-right: 10px;
                }

                span.active {
                    color: black;
                    font-weight: bold;
                }
            }
        }

    }
}
