@import "../styles/vars.scss";
@import "../styles/responsive";

div.header-container {
    @extend .component-container;
    background-color: $primary-blue;
    color: white;
    align-items: center;

    div.header {
        @extend .inner-component;

        .logo-container {
            position: relative;
            width: 180px;
            flex-shrink: 0;

        }

        .conext {
            position: absolute;
            font-family: Nunito, sans-serif;
            top: 0;
            left: 60px;
            color: #fff;
            font-weight: 800;
            font-size: .9375rem;
        }

        .idp-dashboard {
            font-weight: bold;
            font-family: Nunito, sans-serif;
            font-size: .75rem;
            color: #fff;
            position: absolute;
            top: 22px;
            left: 80px;

            &:hover {
                color: #fff;
            }

        }


        div.checkbox {
            margin: auto;
        }

        div.user-info {
            margin-left: auto;
            display: flex;
            align-items: center;
            position: relative;

            div.user {
                display: flex;
                flex-direction: column;

                span.name {
                    font-weight: bold;
                    margin-left: auto;
                }

                span.role {
                    color: $light-blue;
                    margin-left: auto;
                }
            }

            div.user-toggle {
                margin-left: 20px;
                border-radius: 50%;
                background-color: white;
                display: flex;
                width: 32px;
                height: 32px;
                cursor: pointer;

                img {
                    width: 17px;
                    margin: auto;
                }
            }

            .user-drop-down {
                position: absolute;
                z-index: 2;
                padding: 10px 10px 10px 25px;
                top: 45px;
                right: -5px;
                color: black;
                background: #fff;
                border-radius: 4px;
                box-shadow: 1px 1px 4px rgba(black, .3);
                font-size: 14px;

                div {
                    margin-bottom: 5px;
                    display: flex;

                    span.value {
                        margin-left: auto;
                    }
                }
            }

        }

    }

}

