@import "../styles/vars.scss";
@import "../styles/responsive";

div.header-container {
    @extend .component-container;
    background-color: $primary-blue;
    color: white;
    align-items: center;

    div.header {
        @extend .inner-component;

        a.home {
            line-height: 0;
        }
        h2.conext {
            font-weight: bold;
            font-size: 18px;
            margin-top: auto;
            line-height: 16px;
            margin-left: 10px;
        }
        div.checkbox {
            margin: auto;
        }
        div.user-info {
            margin-left: auto;
            display: flex;
            align-items: center;
            position: relative;

            div.user {
                display: flex;
                flex-direction: column;

                span.name {
                    font-weight: bold;
                    margin-left: auto;
                }

                span.role {
                    color: $light-blue;
                    margin-left: auto;
                }
            }

            div.user-toggle {
                margin-left: 20px;
                border-radius: 50%;
                background-color: white;
                display: flex;
                width: 32px;
                height: 32px;
                cursor: pointer;

                img {
                    width: 17px;
                    margin: auto;
                }
            }

            .user-drop-down {
                position: absolute;
                z-index: 2;
                padding: 10px 10px 10px 25px;
                top: 45px;
                right: -5px;
                color: black;
                background: #fff;
                border-radius: 4px;
                box-shadow: 1px 1px 4px rgba(black, .3);
                font-size: 14px;

                div {
                    margin-bottom: 5px;
                    display: flex;

                    span.value {
                        margin-left: auto;
                    }
                }
            }

        }

    }

}

