@import "../styles/vars.scss";

div.public-teams-tab {
    .public-teams-actions-bar {
        margin-top: 5px;
        margin-bottom: 10px;

        .search-bar {
            display: block;
            width: 50%;

            @media (max-width: $width-app) {
                width: 100%;
            }

        }
    }

    div.more-results {
        display: flex;
        align-content: center;

        img {
            width: 18px;
            height: auto;
            margin-right: 8px;
        }

        margin-top: 10px;
    }

    .sortable-table {
        margin-top: 10px;

        th {
            &.title {
                width: 35%;
            }

            &.description {
                width: 45%;
            }

            &.join {
                width: 20%;
            }
        }

        td {
            span.team-description {
                display: flex;
                align-items: center;
            }
        }
    }
}