.sort-button-container {
    padding-top: 2px;
    width: 20px;
    height: 20px;

    .up-caret-container {
        display: flex;
        margin: 0;
        height: 50%;
        padding-top: 2px;

        .up-caret {
            width: 20px;
        }
    }

    .down-caret-container {
        display: flex;
        margin: 0;
        height: 50%;

        .down-caret {
            width: 20px;
        }
    }
}