@import "../styles/vars";

label.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

    input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $quinary-grey;
        &:hover {
            background-color:  #8c969f;
        }

        &::before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
        }

        &.round {
            border-radius: 34px;
        }

        &.round::before {
            border-radius: 50%;
        }

    }

    input:checked + .slider.checked {
        background-color: $primary-blue;
    }

    input:hover + .slider.checked {
        background-color: #004c97;
    }

    input:focus + .slider.checked {
        box-shadow: 0 0 0 3px #b3e5ff;
        background-color: #0077c8;
    }

    input:checked + .slider.checked:before {
        transform: translateX(26px);
    }

}

