.my_teams {

  @include page;

  .card {
    @include card;
    padding-bottom: 15px;
  }

  .options {
    display: flex;
    padding: 25px 0;
    flex-direction: column;

    section.search {
      position: relative;
      flex-grow: 5;
      margin-top: 15px;

      input {
        padding: 10px;
        margin-left: auto;
        border: 1px solid $lighter-grey;
        border-bottom-left-radius: $br;
        border-top-left-radius: $br;
        font-size: 14px;
        width: 100%;
        height: 100%;
      }

      i.fa-search {
          color: lighten($blue, 5);
          position: absolute;
          right: 14px;
          top: 8px;
          font-size: 24px;
      }
    }
    a.button {
      margin-top: 15px;
      i.fa-plus {
        font-size: inherit;
        margin-left: 10px;
      }

    }

    @include desktop {
      flex-direction: row;

      section.search {
        margin-left: 15px;
        margin-top: 0;

        input {
          border-right: none;
        }
      }
      section.sort-drop-down {
        margin-top: 0;
        margin-right: 15px;
      }

      section.filter-drop-down {
        margin-top: 0;
        margin-right: auto;
      }

      a.button {
        margin-top: 0;
      }

    }

  }

  table.teams {
    width: 100%;
    tr {
      border-bottom: 1px solid $light-grey;
    }
    thead {
      th.name {
        width: 25%;
      }
      th.description {
        width: 40%;
      }
      th.role {
        width: 15%;
      }
      th.membershipCount {
        text-align: right;
        width: 15%;
      }
      th.actions {
        text-align: right;
        width: 5%;
      }
      span {
        position: relative;
        display: inline-block;
        width: 100%;
        text-transform: uppercase;
        font-weight: bold;
        font-size: larger;
        color: $medium-grey;
        padding: 7px 2px 7px 0;

        &.sorted {
          color: $blue;
        }
      }
    }
    tbody {
      tr {
        cursor: pointer;
        &:hover {
          background-color: $hover;
          td.actions i.fa-ellipsis-h {
            color: $blue;
            font-size: 26px;
          }
        }
      }
      td {
        i.fa-info-circle {
          @include info-icon;
        }
        div.tool-tip {
          @include tool-tip;
          span {
            text-transform: none;
            &.label {
              font-weight: bold;
              display: block;
              padding: 3px 0;
            }
            &.value {
              font-weight: normal;
              float: right;
              padding: 0 0 0 60px;
            }
          }
        }
      }
      td.name {
        color: $blue;
        font-weight: bold;
      }
      td.role {
        span {
          text-transform: capitalize;
        }
        i {
          padding: 15px 15px 15px 0;
          font-size: 16px;
          font-weight: bold;

          @include phone {
            padding: 0 10px 0 0;
          }

          color: $medium-grey;
          &.fa-envelope {
            color: $dark-green;
          }
          &.fa-info-circle {
            @include info-icon;
          }
        }
        &.join_request {
          color: $dark-green;
          span {
            position: relative;
            padding: 15px 10px 0 0;
          }
        }
      }
      td.membership-count {
        text-align: right;

        span {
          position: relative;
          &.membership-count {
            padding: 15px 10px;
            z-index: 99;
          }
          &.join-requests-count {
            color: $green;
            font-weight: bold;
          }
          &.invitations-count {
            color: $blue;
            font-weight: bold;
          }
          &.count-divider {
            color: $medium-grey;
          }
        }
      }
      td.actions {
        cursor: pointer;
        text-align: right;
        font-size: 18px;
        position: relative;

      }
    }

    @include phone {
      thead {
        display: none;
      }
      tr {
        margin-bottom: 10px;
        display: block;
        border-bottom: 2px solid $lighter-grey;
      }
      td {
        display: block;
        text-align: right;
        border-bottom: 1px dotted $light-blue;
        padding: 8px 0;

        &:before {
          content: attr(data-label);
          float:left;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 14px;
        }
      }

    }
  }
}
