.my_teams {

  @include page;

  .card {
    @include card;
    padding-bottom: 15px;
  }

  .options {
    display: flex;
    padding: 25px 0;

    .search {
      position: relative;
      width: 65%;

      input {
        padding: 10px;
        margin-left: auto;
        border: 2px solid $light-grey;
        border-bottom-left-radius: $br;
        border-top-left-radius: $br;
        font-size: 14px;
        width: 100%;
        background-color: $light-grey;
      }

      i.fa-search {
        color: lighten($blue, 5);
        position: absolute;
        right: 14px;
        top: 8px;
        font-size: 24px;
      }
    }
  }

  table.teams {
    width: 100%;
    tr {
      border-bottom: 1px solid $light-grey;
    }
    thead {
      th.name {
        width: 25%;
      }
      th.description {
        width: 45%;
      }
      th.role {
        width: 15%;
      }
      th.membershipCount {
        text-align: right;
        width: 15%;
      }
      span {
        position: relative;
        display: inline-block;
        width: 100%;
        text-transform: uppercase;
        font-weight: bold;
        font-size: larger;
        color: $medium-grey;
        padding: 7px 2px 7px 0;

        &.sorted {
          color: $blue;
        }
      }
    }
    tbody {
      tr {
        cursor: pointer;
        &:hover {
          background-color: #F9FCFD;
          td.actions i {
            color: $blue;
          }
        }
        &.join_request {
          color: $dark-green;
        }
      }
      td {
        i.fa-info-circle {
          color: $blue;
          position: absolute;
          top: 1px;
          right: 1px;
        }
      }
      td.name {
        color: $blue;
        font-weight: bold;
        &.join_request {
          color: $dark-green;
        }
        i {
          padding: 15px 15px 15px 0;
          font-size: 16px;
        }
      }
      td.role {
        &.join_request {
          color: $dark-green;
          span {
            position: relative;
            padding: 15px 10px 0 0;
          }
        }
      }
      td.membership-count {
        text-align: right;

        span {
          position: relative;
          &.membership-count {
            padding: 15px 10px;
            z-index: 99;
          }
          &.join-requests-count {
            color: $green;
            font-weight: bold;
          }
          &.invitations-count {
            color: $blue;
            font-weight: bold;
          }
          &.count-divider {
            color: $medium-grey;
          }
        }
        div.tool-tip {
          @include tool-tip;
        }
      }
    }
  }
}
