.new-team {

  @include page;

  h2 {
    margin: 35px 0 20px 0;
    font-size: 22px;
  }

  .card {
    @include card;
    @import "../excludes/forms.scss";
    padding: 25px;

    section.form-divider {
      border-bottom: 1px solid $lighter-grey;
      padding-bottom: 25px;
      margin-bottom: 25px;
    }

    .validity-input-wrapper {

      i {
        &.fa-check {
          color: $green;
        }
        &.fa-exclamation {
          color: $red;
        }
      }
    }

    p.current-user-name {
      margin: 5px 0;
      padding: 5px;
      background-color: $light-grey;
      width: 100%;
    }

    label.invitation-message, label.invitation-language {
      margin-top: 20px;
    }

  }

}
