.team-detail {
  max-width: $medium;
  margin: 0 auto;
  padding: 0 15px;

  .team-header {
    padding: 30px 0 15px 0;

    a.back {
      font-weight: bold;
      font-size: 18px;
      text-decoration: none;
      color: $blue;
      &:hover, &:visited {
        text-decoration: none
      }
      i {
        margin-right: 10px;
      }
    }

    .actions {
      display: flex;
      align-items: center;
      margin-top: 15px;
      h2 {
        font-size: 26px;
        margin-right: auto;
      }
    }
  }

  h2.members {
    font-size: 26px;
    padding: 25px 0 20px 0;
  }

  section.card {
    @include card;
    padding: 15px;
  }

  .team-detail-controls {
    display: flex;
    flex-direction: column;
    margin: 20px 0;

    a.button {
      margin-top: 15px;
      i.fa-plus {
        font-size: inherit;
        margin-left: 10px;
      }

    }
  }


  section.search {
    position: relative;
    flex-grow: 5;
    margin-top: 15px;

    input {
      padding: 10px;
      border: 2px solid $light-grey;
      border-radius: 2px;
      font-size: medium;
      width: 100%;
    }

    i {
      color: lighten($blue, 5);
      position: absolute;
      right: 10px;
      top: 6px;
      font-size: 24px;
    }
  }

  @include desktop {

    .team-detail-controls {
      flex-direction: row;


      section.search {
        margin-left: 15px;
        margin-top: 0;

        input {
          border-right: none;
        }
      }
      section.sort-drop-down {
        margin-top: 0;
        margin-right: 15px;
      }

      section.filter-drop-down {
        margin-top: 0;
        margin-right: auto;
      }

      a.button {
        margin-top: 0;
      }

    }
  }

  table.members {
    width: 100%;
    tr {
      border-bottom: 1px solid $light-grey;
    }
    thead {
      th.name {
        width: 20%;
      }
      th.email {
        width: 25%;
      }
      th.status {
        width: 25%;
      }
      th.role {
        width: 25%;
      }
      th.actions {
        text-align: right;
        width: 5%;
      }
      span {
        position: relative;
        display: inline-block;
        width: 100%;
        text-transform: uppercase;
        font-weight: bold;
        font-size: larger;
        color: $medium-grey;
        padding: 7px 2px 7px 0;

        &.sorted {
          color: $blue;
        }
      }
    }
    tbody {
      tr {
        &:hover {
          background-color: #F9FCFD;
          td.actions i {
            color: $blue;
            font-size: 26px;
          }
        }
        &.pending {
          color: $green;
        }
      }
      td.name {
        color: $blue;
        font-weight: bold;
        i {
          padding: 15px 15px 15px 0;
          font-size: 16px;
          &.me {
            color: $gold;
          }
          &.fa-clock-o {
            color: $dark-green;
          }
          &.fa-envelope {
            color: $green;
          }
        }
      }
      td.actions {
        cursor: pointer;
        text-align: right;
        font-size: 18px;
        position: relative;
      }
      td.status {
        i {
          padding: 15px 15px 15px 0;
        }
      }
    }
  }

}
