.team-detail {
  max-width: $medium;
  margin: 0 auto;
  padding: 0 15px;

  .team-header {
    padding: 30px 0 15px 0;

    a.back {
      font-weight: bold;
      font-size: 18px;
      text-decoration: none;
      color: $blue;
      &:hover, &:visited {
        text-decoration: none
      }
      i {
        margin-right: 10px;
      }
    }

    .actions {
      display: flex;
      align-items: center;
      margin-top: 15px;
      h2 {
        font-size: 26px;
        margin-right: auto;
        text-transform: capitalize;
      }
    }
  }

  h2.members {
    font-size: 26px;
    padding: 25px 0 20px 0;
  }

  section.card {
    @include card;
    padding: 15px;
  }

  .team-detail-controls {
    display: flex;
    margin: 20px 0;
    align-items: center;

  }

  .search {
    position: relative;
    margin-right: 15px;
    width: 50%;

    input {
      padding: 10px;
      border: 2px solid $light-grey;
      border-radius: 2px;
      font-size: medium;
      width: 100%;
    }

    i {
      color: lighten($blue, 5);
      position: absolute;
      right: 10px;
      top: 6px;
      font-size: 24px;
    }
  }

  table.members {
    width: 100%;
    tr {
      border-bottom: 1px solid $light-grey;
    }
    thead {
      th.name {
        width: 25%;
      }
      th.description {
        width: 45%;
      }
      th.role {
        width: 15%;
      }
      th.membershipCount {
        text-align: right;
        width: 15%;
      }
      span {
        position: relative;
        display: inline-block;
        width: 100%;
        text-transform: uppercase;
        font-weight: bold;
        font-size: larger;
        color: $medium-grey;
        padding: 7px 2px 7px 0;

        &.sorted {
          color: $blue;
        }
      }
    }
    tbody {
      tr {
        cursor: pointer;
        &:hover {
          background-color: #F9FCFD;
          td.actions i {
            color: $blue;
          }
        }
        &.pending {
          color: $green;
        }
      }
      td.name {
        color: $blue;
        font-weight: bold;
        &.pending {
          color: $green;
        }

        i {
          padding: 15px 15px 15px 0;
          font-size: 16px;
          &.admin {
            color: rgba(242, 215, 50, 1);
          }
          &.manager {
            color: rgba(160, 160, 160, 1);
          }
          &.member {
            color: rgba(223, 182, 103, 1);
          }
          &.fa-clock-o {
            color: $green;
          }
        }
      }
      td.role {
        &.pending {
          color: $green;
        }
      }
      td.membership-count {
        position: relative;
        text-align: right;

        i.fa-info-circle {
          color: $blue;
          position: absolute;
          top: 1px;
          right: 1px;
        }

        span {

          &.membership-count {
            padding: 15px 10px;
            z-index: 99;
          }
          &.join-requests-count {
            color: $green;
            font-weight: bold;
          }
          &.invitations-count {
            color: $blue;
            font-weight: bold;
          }
          &.count-divider {
            color: $medium-grey;
          }
        }
        div.tool-tip {
          @include tool-tip;
        }
      }
    }
  }
}
