.invitation {

  @include page;

  h2 {
    margin: 35px 0 20px 0;
    font-size: 22px;
  }

  .card {
    @include card;
    @import "../excludes/forms.scss";

    padding: 50px 25px 25px;

    &.with-invalid {
      padding-top: 100px;
      position: relative;
    }

    section.invalid-invitation {
      position: absolute;
      top: 0;
      width: 100%;
      left: 0;
      padding: 25px;
      background-color: $light-grey;
      color: $red;
      font-size: 16px;
      a:hover, a:visited {
        color: $red;
      }
    }

    section.form-divider {
      margin-bottom: 25px;

    }

    section.screen-divider {
      display: inline-block;
      width: 50%;
      margin-bottom: 0;

      @include phone {
        width: 100%;
      }
    }

    section.team {
      input {
        margin-bottom: 20px;
      }
    }
    section.admins {
      input:not(:last-child) {
        margin-bottom: 0;
      }
    }

  }

}
